body {
    padding-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}
.header, h3, #fill, #total-rows, .slice, #footer {
    margin-bottom: 20px;
}
#result iframe {
    border: none;
    width: 100%;
    height: 2000px;
}
.btn-build {
    margin-left: 10px;
}
.main.slice {
    position: relative;
}
.enable-extra {
    position: absolute;
    top: -5px;
    right: 0;
}
.extra {
    margin-top: 10px;
    padding-left: 15px;
    display: none;
}
.extra.slice {
    display: block;
}