body {
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 20px;
}
.header {
    margin-bottom: 20px;
}
form {
    margin-bottom: 0;
}
h2 {
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.2em;
}
.btn-fill {
    margin-right: 30px;
}
.btn-build {
    margin-left: 10px;
}
.slice, #preheader, #total-rows {
    margin-bottom: 20px;
}
.main.slice {
    position: relative;
}
.enable-extra {
    position: absolute;
    top: -5px;
    right: 0;
}
.extra {
    margin-top: 10px;
    padding-left: 15px;
    display: none;
}
.extra.slice {
    display: block;
}
#result iframe {
    border: none;
    width: 100%;
    height: 2000px;
}