<h5>Row {{@index}}</h5>
<input class="form-control form-control-sm" type="text" name="image" placeholder="Image">
<input class="form-control form-control-sm" type="text" name="rilt" placeholder="Rilt">
<input class="form-control form-control-sm" type="text" name="href" placeholder="Link" value="https://www.evino.com.br"
/>
<button type="button" class="enable-extra btn btn-warning btn-sm btn-build">+</button>
<div class="extra">
    <h5>Double slice</h5>
    <input class="form-control form-control-sm" type="text" placeholder="Image">
    <input class="form-control form-control-sm" type="text" placeholder="Rilt">
    <input class="form-control form-control-sm" type="text" placeholder="Link" value="https://www.evino.com.br">
</div>